@using ErgastApi.Responses.Models.RaceInfo

@inject IRaceService RaceService

@if (SelectedRace is null)
{
    <Container>
        <Repeater Items="@Races">
            <Row Margin="Margin.Is2.FromBottom">
                <div class="RaceList" @onclick="() => HandleRaceClick(context)" style="background-image: url(/images/Circuits/@(context.Circuit.CircuitId).jpg);">
                    <div class="RaceBox">
                        <h1 class="RaceName">
                            @context.RaceName
                        </h1>
                        <h2 class="CircuitName">
                            @context.Circuit.CircuitName
                        </h2>
                    </div>
                    <div class="RaceTimes"></div>
                    <text class="RaceTimeBox">
                            @context.StartTime.ToShortDateString()
                    </text>
                    <text class="RaceTimeBox">
                            @context.StartTime.ToShortTimeString()
                    </text>
                </div>
            </Row>
        </Repeater>
    </Container>
}
else
{
    <Container>
        <Card Border="Border.Dark">
            <CardBody>
                <CardTitle Size="5">@SelectedRace.RaceName</CardTitle>
                <CardText>
                    @SelectedRace.Circuit.CircuitName
                </CardText>
            </CardBody>
        </Card>
    </Container>
    <Betting SelectedRace="SelectedRace" />
}

@code
{
    private IList<Race> Races = new List<Race>();
    private Race? SelectedRace = null;
    protected override async Task OnInitializedAsync()
    {
        Races = await RaceService.GetAllRacesAsync();
    }

    private void HandleRaceClick(Race race)
    {
        SelectedRace = Races.Where(x => x.RaceName == race.RaceName).FirstOrDefault();
        Console.WriteLine(race.RaceName);
    }
}